<div id="multiSelect">
  <div id="tagLineContainer" :class="isSelecting ? 'br-top' : 'br-full'" @click="onTagLineClick">
    <div id="tagLine">
      <span id="noTagText">{{ tagsText }}</span>
      <Tag v-for="tag in tags" :tag="tag" @delete="onDeleteTag"></Tag>                                            
    </div>
    <div id="tagLineStateIndicator" :class="isSelecting ? 'rotate' : ''">
      <img id="selectIcon" src="./select-arrow.png">
    </div>
  </div>
  

  <div id="choiceList" v-if="isSelecting">
    <UserItem v-for="option in optionsByName" :option="option" @selected="onUserItemSelected"></UserItem>
  </div>
</div>